<!-- views/partials/navbar.handlebars -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Reddit.js
            </a>
            <a href="/posts/new" class="btn btn-default navbar-btn">New Post</a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/sign-up">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>